<!DOCTYPE html>
<html>
<head>
    <title>{{ restaurant_name }}</title>
</head>
<body>
    <h1>Welcome to {{ restaurant_name }}</h1>

    <h2>Our Locations:</h2>
    <ul>
        {% for address in addresses %}
            <li>
                <strong>{{ address.name }}</strong><br>
                {{ address.street }}, {{ address.city }}, {{ address.state }} - {{ address.zipcode }}
            </li>
        {% endfor %}
    </ul>

    <h2>Find Us on Google Maps:</h2>
    {% for address in addresses %}
        <!-- Embed Google Map for each address -->
        <iframe
            width="600"
            height="450"
            style="border:0"
            loading="lazy"
            allowfullscreen
            src="https://www.google.com/maps?q={{ address.street|urlencode }},{{ address.city|urlencode }},{{ address.state|urlencode }}&output=embed">
        </iframe>
    {% endfor %}
</body>
</html>