{% load static %}
<!-- The above line loads Django's static files system, so we can use images, CSS, JS stored inside the 'static' folder -->

<!COCTYPE html>
<html>
<head>
    <title>Restaurant Management</title>
</head>
<body>
    <!-- =============================== LOGO SECTION =========================
    <!-- This div will keep the logo centered and with some space at the top -->
    <div style="text-align:center; margin-top:20px;">

        <!-- The 'static' template tag is used to load the image from the static folder -->
        <!-- Make sure you place logo at: orders/static/orders/images/logo.png -->
        <img src="{% static 'orders/images/logo.png' %}"
            alt="Restaurant Logo"
            style="width:200px; height:auto;">
        <!-- 'alt is displayed if the image is not found, and 'style' makes the logo size adjustable -->
    </div>
    <!-- ================================ END OF LOGO SECTION ====================

    <!-- ================================ WELCOME MESSAGE =======================
    <!-- Centered heading to greet users -->
    <h1 style="text-align:center;">Welcome to our Restaurant!</h1>
    <!-- ================================== END OF WELCOME MESSAGE ==============
</body>
</html>
