<!-- orders/templates/orders/homepage.html -->

<!DOCTYPE html>
<html>
<head>
    <title>{{ restaurant.name }}</title>
</head>
<body>
    <h1>Welcome to {{ restaurant.name }}</h1>

    <h2>Our Address:</h2>
    <ul>
        {% for addr in addresses %}
            <li>{{ addr.address }}</li>
        {% empty %}
            <li>No address available</li>
        {% endfor %}
    </ul>

    <h2>Opening Hours:</h2>
    <ul>
        {% for day, hours in opening_hours.items %}
            <li><strong>{{ day }}:</strong> {{ hours }}</li>
        {% empty %}
            <li>opening hours not available</li>
        {% endfor %}
    </ul>
</body>
</html>
    